body {
	background: #f8f8f8;
}
/*标头*/
.tittle {
	width: 100%;
	background: white;
}
.tittle_content {
	width: 1200px;
	height: 92px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.tittle_content>p:nth-of-type(1) {
	color: #57c7f6;
	font-size: 2.1rem;
	font-weight: bolder;
	line-height: 90px;
}
.tittle_content form {
	border: none;
	display: flex;
	position: relative;
}
.tittle_content form i{
	position: absolute;
	top: 15px;
	left: 15px;
}

.tittle_content form input:nth-of-type(2):focus {
	outline: none;
}
.input_left {
	width: 327px;
	height: 38px;
	border: 1px solid #aaaaaa;
	border-right: none;
	color: #999999;
	padding-left: 33px;
}
.input_right {
	width: 61px;
	height: 40px;
	background: #57c7f6;
	color: #ffffff;
	border: 1px solid #aaaaaa;
	border-left: none;
	cursor: pointer;
}
.tittle_content a p {
	font-size: 1.5rem;
	color: #999999;
}
/*导航*/
.nav {
	width: 100%;
	height: 58px;
	border-bottom: 1px solid #aaaaaa;
	border-top: 1px solid #aaaaaa;
	box-shadow: 0 2px 4px #aaaaaa;
	background: white;
}
.nav ul {
	width: 1200px;
	margin: 0 auto;
	display: flex;
	position: relative;
	z-index: 5;
}
.nav ul li {
	padding: 20px 20px 19px;
	font-size: 1.6rem;
	position: relative;
	z-index: 5;
}
#nav_silder {
	/* width: 84px; */
	background: #57c7f6;
	height: 60px;
	margin-top: -1px;
	position: absolute;
	
}
.nav ul li a {
	color: #999999;
}
.nav ul li:nth-of-type(1) {
	background: #57c7f6;
	height: 21px;
	margin-top: -1px;
}
.nav ul li:nth-of-type(1) a {
	color: #fff;
}
/*banner*/
.banner {
	width: 100%;
	position: relative;
}
.banner img {
	width: 100%;
}
.banner a:nth-of-type(1) img {
	width: 32px;
	height: 80px;
	position: absolute;
	left: 2.6%;
	top: 40%;
}
.banner a:nth-of-type(2) img {
	width: 32px;
	height: 80px;
	position: absolute;
	right: 2.6%;
	top: 40%;
}
/*health*/
.health {
	width: 1200px;
	margin: 75px auto 0;
	display: flex;
	justify-content: space-between;
}
.health_top {
	display: flex;
	justify-content: space-between;
	width: 877px;
}
.health_top h2 {
	font-size: 2.4rem;
	color: #333333;
}
.health_top p {
	font-size: 1.3rem;
	color: #999999;
}
.health_top ul {
	display: flex;
	align-items: center;
}
.health_top ul li {
	padding: 0 20px;
	border-right:2px solid #8b8b8b;

}
.health_top ul li:nth-last-child(1) {	
	border-right:0;
	padding-right: 0;
}
.health_top ul li a {
	font-size: 1.5rem;
	color: #666666;
}

.health_bottom {
	display: flex;
	justify-content: space-between;
	width:896px ;
	margin-top: 30px;

}
.health_bottom div {
	height: 312px;
	border-bottom: 1px solid #57c7f5;
	margin-top: 20px;
	position: relative;
}
.health_bottom .iconfont.icon-youjiantou {
	position: absolute;
	right: 18px;
	bottom: 20px;
	font-size: 20px;
	color: #d2d2d2;
}
.health_bottom div img:nth-of-type(1) {
	text-align:center;
	padding-left: 19px;
	height: 220px;
	width: 250px;
}
.health_bottom div img:nth-of-type(2) {
	display: none;
	text-align:center;
	padding-left: 19px;
}
.health_bottom div p:nth-of-type(1) {
	margin-top: 13px;
	font-size: 1.5rem;
	padding-left: 19px;
}
.health_bottom div  p:nth-of-type(2) {
	padding-left: 19px;
	margin-top: 1px;
	font-size: 1.2rem;
	padding-bottom: 32px;
	margin-top: 21px;
	width: 269px;
	border-bottom: 1px solid rgb(87,234,174);
}
.health_right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 408px;	
}
.health_right li:nth-of-type(1){
	background: #9878ff url(../img/health.png) no-repeat 20px 16px;
	background-size:  55px 55px;
}
.health_right li:nth-of-type(2){
	background: #43b9f6 url(../img/man_doctor.png) no-repeat 20px 16px;
	background-size:  55px 55px;
}
.health_right li:nth-of-type(3){
	background: #6686ff url(../img/nurse.png) no-repeat 20px 16px;
	background-size:  55px 55px;
}
.health_right li:nth-of-type(4){
	background: #ffc578 url(../img/druy.png) no-repeat 20px 16px;
	background-size:  55px 55px;
}
.health_right li {
	padding:16px 0 16px 104px;
	width: 184px;
	border-radius: 10px;
}
.health_right li a p:nth-child(1) {
	font-size: 2.5rem;
	color: white;
	line-height: 25px;
	margin-top: 1px;
}
.health_right li a p:nth-child(2) {
	font-size: 1.6rem;
	color: white;
	line-height: 12px;
	margin-top: 17px;
}

.professor {
	width: 100%;
	height: 400px;
	background: #57c7f6;
	margin-top: 71px;
	position: relative;
}
.professor img {
	margin-top: 40px;
	width: 440px;
	height: 360px;
}
.professor_content {
	width: 1030px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.professor_content_p {
	width: 520px;
	color: white;
}
.professor_content_p p:nth-of-type(1) {
	font-size: 2.4rem;
	font-weight: bolder;
	line-height: 24px;
	margin-top: 140px;
}
.professor_content_p p:nth-of-type(2) {
	font-size: 1.4rem;
	margin-top: 16px;
}
.professor_content_p p:nth-of-type(3) {
	font-size: 1.4rem;
	line-height: 20px;
	margin-top: 34px;
}
.professor_content_p p:nth-of-type(4) a{
	display: inline-block;
	padding: 7px 28px 8px;	
	border: 1px solid white;
	border-radius: 5px;
	margin-top: 43px;
	color: white;
}
.professor a:nth-of-type(1) img {
	width: 32px;
	height: 80px;
	position: absolute;
	left: 2.6%;
	top: 40%;
}
.professor a:nth-of-type(2) img {
	width: 32px;
	height: 80px;
	position: absolute;
	right: 2.6%;
	top: 40%;
}
.professor span {
	font-size: 11rem;
	opacity: 0.3;
	color: white;
	position: absolute;
	right: 10.5%;
	top: 40%;
}
.foottop {
	font-size: 2.1rem;
	color: #333333;
	line-height: 100%;
	text-align: center;
	margin-top: 75px;
}
.footbot {
	font-size: 1.2rem;
	color: #999999;
	text-align: center;
	margin-top: 12px;
}
.special {
	position: relative;
	width: 1250px;
	margin: 0 auto;
}
.special ul {
	width: 1249px;
	/*height: 158px;*/
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	flex-wrap: wrap;
	
}

.special ul li {
	display: flex;
	width: 1249px;
	margin: 0 auto;
	height: 158px;
	color: #999999;
	font-size: 1.2rem;
	margin-top: 69px;
} 
.special ul li:nth-of-type(1) {
	margin-top: 10px;
}
.special ul li img {
	width: 0px;
	height: 100px;
	margin-top: 32px;
}
.special ul li:nth-of-type(odd) .specila_left {
	display: flex;
	width: 575px;
	text-align: right;
	flex-direction: row-reverse;
	margin-left: 49px;	
}
.special ul li:nth-of-type(odd) .specila_left div:nth-of-type(1) {
	
}


.special ul li:nth-of-type(odd) .specila_right{
	width: 425px;
	padding-left: 29px;
	padding-right: 170px;
	margin-left: 1px;
}
.special .specila_left a i,.special .specila_right a i {
	color: white;
	display: inline-block;
	margin-top: 113px;
	font-size: 20px;
	display: none;
}
.special ul li:nth-of-type .iconfont.icon-youjiantou {
	color: white;
}


.special ul li:nth-of-type(even) .specila_right {
	display: flex;
	width: 575px;
	margin-right: 49px;	
	margin-left: 1px;
}
.special ul li:nth-of-type(even) .specila_left{
	width: 425px;
	padding-left: 170px;
	padding-right: 29px;
	text-align: right;
}
.special ul li:nth-of-type(odd) .specila_left div {
	padding-right: 29px;
	font-size: 1.2rem;
}
.special ul li:nth-of-type(odd) .specila_left div p:nth-of-type(1){
	font-size: 2.9rem;
	font-weight: 500;
	margin-top: 43px;
	margin-bottom: 15px;
}
.special ul li:nth-of-type(even) .specila_right div {
	padding-left: 29px;
}
.special ul li:nth-of-type(even) .specila_right div p:nth-of-type(1) {
	font-size: 2.9rem;
	font-weight: 500;
	margin-top: 43px;
	margin-bottom: 15px;
}
.special ul li:nth-of-type(odd) .specila_right p:nth-of-type(1) {
	font-size: 1.5rem;
	margin-top: 52px;
	margin-bottom: 13px;
}
.special ul li:nth-of-type(odd) .specila_right p:nth-of-type(2) {
	line-height: 17px;
}
.special ul li:nth-of-type(even) .specila_left p:nth-of-type(1) {
	font-size: 1.5rem;
	margin-top: 52px;
	margin-bottom: 13px;
}
.special ul li:nth-of-type(even) .specila_left p:nth-of-type(2) {
	line-height: 17px;
}
.line {
	width: 1px;
	height: 765px;
	background: #eeeeee;
	/*background: red;*/
	position: absolute;
	left: 624px;
	top: 92px;
	box-shadow: 0px 0 2px #eeeeee;
}
.enter {
	font-size: 1.8rem;
	width: 120px;
	height: 31px;
	display: flex;
	justify-content: center;
	align-items: center;

	background: #666666;
	margin: 8px auto 0;
}
.enter a {
		color: #e2e2e2;
}
.footer {
	margin-top: 60px;
	height: 317px;
	background: #f2f2f2;
	overflow: hidden;
}
.footer_content {
	width: 1200px;
	margin: 64px auto 0;
	display: flex;
	justify-content: space-between;
}
.footer_content li:nth-of-type(1) p:nth-of-type(1)  {
	font-size: 2rem;
	color: #57c7f6;
}
.footer_content li:nth-of-type(1) p:nth-of-type(2) a{
	font-size: 1.2rem;
	color: #999999;
	line-height: 26px;
}
.footer_content li:nth-of-type(2) p:nth-of-type(1) {
	font-size: 2rem;
	margin-bottom: 40px;
	color: #999999;
}
.footer_content li:nth-of-type(2)  a i{
	font-size: 2.3rem;
	margin-right: 25px;
	color: #999999;
}
.footer_content li:nth-of-type(2)  a:nth-of-type(3) i{
	font-size: 1.8rem;
}
.footer_content li:nth-of-type(3) p {
	margin-bottom: 21px;
	color: #999999;
}
.footer_content li:nth-of-type(3) p:nth-of-type(1)  {
	font-size: 2rem;
	color: rgb(188,188,188);
	margin-bottom: 45px;
	color: #b5b5b5;
}
.footer_content li:nth-of-type(4) {
	font-size: 1.5rem;
	margin-top: 64px;
}
.footer_content li:nth-of-type(4) p{
		line-height: 35px;
		color: #999999;
}
.footer {
	position: relative;
}
.footer div {
	height: 40px;
	background: #eeeeee;
	position: absolute;
	bottom: 0;
}
.footer div p {
	width: 1200px;
	margin: 0 auto;
	text-align: right;
	background: #eeeeee;	
	font-size: 1.4rem;
	color: #999999;
	line-height: 40px;
}
