.nav ul li:nth-of-type(2) {
	background: none;
	height: 21px;
}
.nav ul li:nth-of-type(2) a {
	color: #999999;
}
.nav ul li:nth-of-type(3) {
	background: #57c7f6;
	height: 21px;
	margin-top: -1px;
}
.nav ul li:nth-of-type(3) a {
	color: white;
}
/*.online_right_1 {
	width: 896px;
	height: 668px;
}*/
.online_right_1 {
	background: #fdfdfd;
	width: 846px;
	height: 632px;
	padding-left: 50px;
	padding-top: 36px;
	box-shadow: 0px 0px 8px #dadada;
}
.online_right_1 ul li:nth-of-type(1) {
	width: 434px;
	height: 26px;
	margin-bottom: 30px;
	background: #dbf2fb;
	line-height: 26px;
	border-radius: 5px;
	color: #999999;
	padding-left: 13px;
}
.online_right_1 ul li:nth-of-type(1) i {
	color: #fe8d42;
	margin-right: 4px;
}
.online_right_1 span {
	font-size: 1.8rem;
	color: #999999;
}
.online_right_1 ul li:nth-of-type(2) {
	margin-top: 30px;
	margin-bottom: 26px;
}
.online_right_1 ul li:nth-of-type(2)>input:nth-of-type(1) {
	width: 200px;
	height: 38px;
	margin-right: 24px;
}
.online_right_1 ul li:nth-of-type(2) label input {
	width: 19px;
}
.online_right_1 ul li:nth-of-type(2) label {
	font-size: 1.7rem;
	
}
.online_right_1 ul li:nth-of-type(3) input,
.online_right_1 ul li:nth-of-type(4) input,
.online_right_1 ul li:nth-of-type(5) input {
	width: 400px;
	height: 38px;
	margin-right: 10px;
}
.online_right_1 ul li:nth-of-type(3),
.online_right_1 ul li:nth-of-type(4),
.online_right_1 ul li:nth-of-type(5) {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
.online_right_1 ul li:nth-of-type(3)>div>p:nth-of-type(1),
.online_right_1 ul li:nth-of-type(4)>div>p:nth-of-type(1),
.online_right_1 ul li:nth-of-type(5)>div>p:nth-of-type(1),
.online_right_1 ul li:nth-of-type(6)>div>p:nth-of-type(1) {
	color: #ff3434;
	line-height: 20px;
	font-size: 1.3rem;
}
.online_right_1 ul li:nth-of-type(3)>div>p:nth-of-type(2),
.online_right_1 ul li:nth-of-type(4)>div>p:nth-of-type(2),
.online_right_1 ul li:nth-of-type(5)>div>p:nth-of-type(2),
.online_right_1 ul li:nth-of-type(6)>div>p:nth-of-type(2) {
	font-size: 1.2rem;
}
.online_right_1 ul li:nth-of-type(6) {
		display: flex;
}
.online_right_1 ul li:nth-of-type(6) div {
	width: 317px;
	margin-left: 10px;
	
}
.online_right_1 ul li:nth-of-type(6) div p:nth-of-type(2) {
	line-height: 16px;
	font-size: 1.2rem;
}
.online_right_1 ul li:nth-of-type(6) textarea {
	width: 388px;
	height: 93px;
	padding-top: 13px;
	padding-left: 10px;
	border-radius: 5px;
	margin-bottom: 10px;
}
.online_right_1 ul li:nth-of-type(7) {
	font-size: 1.2rem;
	color: #a3a3a3;
	margin-left: 100px;
} 
.online_right_1 ul li:nth-of-type(8) {
	width: 400px;
	height: 38px;
	text-align: center;
	border-radius: 5px;
	margin-top: 53px;
	margin-left: 95px;
	
}
.online_right_1 ul li:nth-of-type(8) a {
	padding:11px 155px;
	font-size: 1.8rem;
	color: white;
	background: #57c7f6;
	border-radius: 5px;
}
